@font-face {
    font-family: "ManifontGroteskBook";
    src:
    local("ManifontGroteskBook"),
    url("ManifontGroteskBook.otf") format("opentype");
    font-family: "apercu_regular";
    src:
    local("apercu_regular"),
    url("apercu_regular.otf") format("opentype");
    }
  
.grid, .exercise1, .exercise2, .exercise3, .exercise4, .exercise5{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;   
}
.exercise1{
    flex: 1 1 auto;
}
.exercise2{
    flex: 1 1 auto;
}
.exercise3{
    flex: 1 1 auto;
}
.exercise4{
    flex: 1 1 auto;
}
.exercise5{
    flex: 1 1 auto;
}
h1 {
    color:black;
    margin: 20px 0px 600px 0px;
    font-family:'Archivo Black';
    font-size: 15vw;
    text-align: center;
    overflow: auto;
}

h2{
    color:black;
    font-family:'ManifontGroteskBook';
    font-weight: 100;
    margin: 50px 30px 1000px 30px;
    font-size: 10vw;
    text-align: center;
    line-height: 12vw;

}

p, a {
    color: black;
    font-family: 'apercu_regular';
    text-align: center;
    display: inline-block;
}

a:visited{
    color: darkgray;
}


a:hover{
    color:fuchsia;
}
