@font-face {
    font-family: "ManifontGroteskBook";
    src:
    local("ManifontGroteskBook"),
    url("ManifontGroteskBook.otf") format("opentype");
    font-family: "apercu_regular";
    src:
    local("apercu_regular"),
    url("apercu_regular.otf") format("opentype");
    }
  
.grid{
    display: grid;
    grid-row-start:-10;
    grid-column-start:auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-self: center;
}

h1 {
    color:black;
    margin: 50px 10px 500px 30px;
    font-family:'Archivo Black';
    font-size: 14vw;
    text-align: center;
}

h2{
    color:black;
    font-family:'ManifontGroteskBook';
    font-weight: 100;
    margin: 50px 30px 1000px 30px;
    font-size: 10vw;
    text-align: center;
    line-height: 12vw;

}

p, a {
    color: black;
    font-family: 'apercu_regular';
    text-align: center;
    display: inline-block;

}

a:visited{
    opacity:80%;
}


a:hover{
    color:gray;
}
