@font-face {
    font-family: "ManifontGroteskBook";
    src:
    local("ManifontGroteskBook"),
    url("ManifontGroteskBook.otf") format("opentype");
    font-family: "apercu_regular";
    src:
    local("apercu_regular"),
    url("apercu_regular.otf") format("opentype");
    }
  

h1 {
    color:black;
    margin: 50px 10px 0px 10px;
    font-family:'Archivo Black';
    font-size: 6vw;
    text-align: center;
    overflow: hidden;
}

h2{
    color:black;
    font-family:'ManifontGroteskBook';
    font-weight: 100;
    font-size: 8vw;
    text-align: center;
    line-height: 8vw;

}
a{
    color:black;
    font-family:'ManifontGroteskBook';
    margin: 200px 30px 30px 30px;
    font-weight: 100;
    font-size: 8vw;
    text-align: center;
    line-height: 8vw;
}
p {
    color:black;
    font-family: 'apercu_regular';
    text-align: center;
    font-size:80%;
}

a:visited{
    color:rgb(93, 93, 93);
}


a:hover{
    color:red;
}


.Intro{
    display:flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.IntroBodyText{
    flex: 1 1 auto;

}

.linktoharmonyandcontrast{
    flex: 1 1 auto;

}

